.App {
  font-family: sans-serif;
  text-align: center;
}

.taile {
  width: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
}

.taile div {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
}

.on {
  background-color: black;
}

.off {
  background-color: white;
}